.weathertd { background-repeat: no-repeat; border-left: thin inset silver; }
.bottomgradient {
	position: absolute;
	z-index: -10;
	bottom: 0px;
	background: url('../images/signatbottomgradientbluestars.jpg') repeat-x;
    height: 10px;
    width: 250px;
}
.topgradient {
	position: relative;
	z-index: -10;
	top: 0px;
	background: url('../images/signattopgradientbluestars.jpg') repeat-x;
    height: 10px;
    width 250px;
}
body {
	background-color: #243d61;
	background-image: url(../images/topbluegradientstars.png);
	margin: 0;
}