.bottomgradient {
	position: absolute;
	z-index: -10;
	bottom: 1px;
	background: url('../images/bottombluegradientstars.png') repeat-x;
    height: 22px;
    width: 300px;
}
.tablehead { color: white; font-size: 12px; font-family: Arial; font-style: normal; font-weight: normal; text-shadow: black 1px 2px 0px; line-height: 12px; background-color:rgba(192,192,192,0.15); padding-top: 2px; padding-bottom: 3px; }
.tabletimehead { color: white; font-size: 11px; font-family: Arial; font-style: normal; font-weight: normal; text-shadow: black 1px 2px 0px; line-height: 12px; background-color:rgba(192,192,192,0.15); padding-top: -1px; padding-bottom: 4px; }
.lows {
	color: #c3c3c4;
	font-size: 15px;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	text-shadow: black 1px 2px 0px;
	line-height: 12px;
	letter-spacing:-1px;
	position: relative;
	top: 2px;
}
.humid {
	color: #f5c181;
	font-family: Arial;
	text-shadow: black 1px 2px 0px;
	font-size: 12px;
	line-height: 16px;
	letter-spacing:-1px;
	position: relative;
	top: 0px;
}
.moonimagetd {
	background-image: url(../moonphasesexsm/phase.png);
	background-repeat: no-repeat;
	background-position: 70% 26px
}
.moonimagetd0 {
	background-image: url(../moonphasesexsm/timephase0.png);
	background-size: 14px 15px;
	background-repeat: no-repeat;
	background-position: 70% 26px
}.moonimagetd1 {
	border-left: thin inset silver;
	background-image: url(../moonphasesexsm/timephase1.png);
	background-size: 14px 15px;
	background-repeat: no-repeat;
	background-position: 70% 26px
}
.moonimagetd2 {
	border-left: thin inset silver;
	background-image: url(../moonphasesexsm/timephase2.png);
	background-size: 14px 15px;
	background-repeat: no-repeat;
	background-position: 70% 26px
}.moonimagetd3 {
	border-left: thin inset silver;
	background-image: url(../moonphasesexsm/timephase3.png);
	background-size: 14px 15px;
	background-repeat: no-repeat;
	background-position: 70% 26px
}.moonimagetd4 {
	border-left: thin inset silver;
	background-image: url(../moonphasesexsm/timephase4.png);
	background-size: 14px 15px;
	background-repeat: no-repeat;
	background-position: 70% 26px
}.moonimagetd5 {
	border-left: thin inset silver;
	background-image: url(../moonphasesexsm/timephase5.png);
	background-size: 14px 15px;
	background-repeat: no-repeat;
	background-position: 70% 26px
}.moonimagetd6 {
	border-left: thin inset silver;
	background-image: url(../moonphasesexsm/timephase6.png);
	background-size: 14px 15px;
	background-repeat: no-repeat;
	background-position: 70% 26px
}.moonimagetd7 {
	border-left: thin inset silver;
	background-image: url(../moonphasesexsm/timephase7.png);
	background-size: 14px 15px;
	background-repeat: no-repeat;
	background-position: 70% 26px
}.moonimagetd8 {
	border-left: thin inset silver;
	background-image: url(../moonphasesexsm/timephase8.png);
	background-size: 14px 15px;
	background-repeat: no-repeat;
	background-position: 70% 26px
}.moonimagetd9 {
	border-left: thin inset silver;
	background-image: url(../moonphasesexsm/timephase9.png);
	background-size: 14px 15px;
	background-repeat: no-repeat;
	background-position: 70% 26px
}
.weathertd { background-repeat: no-repeat; border-left: thin inset silver; }
body {
	background-color: #243d61;
	background-image: url(../images/topbluegradientstars.png);
	border-color: #384f78;
	border-style: ridge inset inset outset;
	border-width: thin;
	margin: 0;
	background-repeat: no-repeat;
}