.mainblock {
	height: 200px;
	padding-top: 12px;
	background-image: url(../weathericons/weather.png);
	background-repeat: no-repeat;
	margin-left: 1px;
	margin-right: 1px;
	background-position: center top;
	padding-left: 1px;
}
.tablez {
	position: absolute;
	z-index: -2;
	bottom: 6px;
	padding-right: 0px;
	padding-left: 1px;
}
.highs {
	color: white;
	font-size: 17px;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	text-shadow: black 1px 2px 0px;
	line-height: 12px;
	letter-spacing:-1px;
}
.timehighs {
	color: white;
	font-size: 14px;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	text-shadow: black 1px 2px 0px;
	line-height: 10px;
	letter-spacing:-1px;
}
.pop {
	color: #81b5f5;
	font-family: Arial;
	text-shadow: black 1px 2px 0px;
	font-size: 12px;
	letter-spacing:-1px;
	position: relative;
	top: 2px;
	padding-left: 0px;
}
.feelslike {
	color: white;
	font-size: 14px;
	padding-right: 9px;
	font-family: Arial;
	padding-top: 1px;
	text-shadow: black 1px 2px 0px;
	position: fixed;
	top: 59px;
	left: 5px;
	letter-spacing:-1px;
	height: auto;
	width: 90px;
	text-align: center;
	z-index: 5;
}
.historic {
	color: white;
	font-size: 14px;
	padding-right: 9px;
	font-family: Arial;
	padding-top: 1px;
	text-shadow: black 1px 2px 0px;
	position: fixed;
	top: 74px;
	left: 5px;
	letter-spacing:-1px;
	height: auto;
	width: 90px;
	text-align: center;
	z-index: 5;
}
.currenttemp {
	color: white;
	font-size: 62px;
	font-family: Arial;
	line-height: 64px;
	text-shadow: black 1px 3px 0px;
	position: fixed;
	top: 5px;
	left: 2px;
	letter-spacing:-2px;
	height: auto;
	width: 106px;
	text-align: center;
	z-index: 5;
}
.currentcondition { color: white; font: lighter 18px/19px Arial; text-align: right; padding-right: 3px; text-shadow: black 1px 2px 0px; position: fixed; top: 6px; right: 4px; width: 57%; text-transform:capitalize; }
.warning {
	color: #FF3333;
	text-transform:capitalize;
}
.tablespace {
	line-height: 1px;
}
.moonimage { position: absolute; top: 32px; right: 5%; z-index: -5; }
.eventimageabove { position: absolute; top: 52px; right: 7%; z-index:0; }
.eventimagebelow { position: absolute; top: 52px; right: 7%; z-index:-8; }
.forecastpanel {
	color: white;
	font-size: 11px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: normal;
	text-shadow: black 1px 2px 0px;
	padding-right: 10px;
	padding-left: 3px;
	padding-top: 1px;
	line-height: 14px;
	vertical-align: 42%;
	display: inline-block;
}
.currentcell {
	color: white;
	font-size: 10px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: normal;
	text-shadow: black 1px 2px 0px;
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 1px;
	line-height: 12px;
}
.forecastblock {
	line-height: 12px;
	text-align: center;
	padding-bottom: 1px;
}
.forecast {
	color: white;
	font-size: 10px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: normal;
	text-shadow: black 1px 2px 0px;
	line-height: 10px;
	text-align: center;
	padding-bottom: 4px;
	padding-top: 2px;
	padding-left: 1px;
	padding-right: 1px;
}
.forecast2 {
	color: white;
	font-size: 9px;
	line-height: 9px;
	letter-spacing: 0pt;
}
.forecast3 {
	color: white;
	font-size: 8px;
	line-height: 8px;
}