.mainblock {
	height: 425px;
	background-image: url(/weather/weathericons/weather.png);
	background-repeat: no-repeat;
	background-position: center top;
}
.tablez {
	position: absolute;
	z-index: -2;
	bottom: 6px;
}
.days { color: white; font-size: 12px; font-family: Arial; font-style: normal; font-weight: normal; text-shadow: black 1px 2px 0px; line-height: 14px; background-color:rgba(192,192,192,0.15); padding-top: 2px; padding-bottom: 3px; }
.highs {
	color: white;
	font-size: 14px;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	text-shadow: black 1px 1px 0px;
	line-height: 14px;
}
.lows {
	color: #81b5f5;
	font-size: 12px;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	text-shadow: black 1px 1px 0px;
	line-height: 11px;
}
.feelslike {
	color: white;
	font-size: 12px;
	padding-right: 9px;
	padding-left: 4px;
	font-family: Arial;
	padding-top: 1px;
	text-shadow: black 1px 1px 0px;
	position: fixed;
	top: 47px;
	left: 5px;
	letter-spacing:0px;
	white-space: nowrap;
}
.historic {
	color: white;
	font-size: 12px;
	padding-right: 9px;
	font-family: Arial;
	padding-top: 1px;
	text-shadow: black 1px 1px 0px;
	position: fixed;
	top: 59px;
	left: 5px;
	letter-spacing:0px;
	white-space: nowrap;
}
.currenttemp {
	color: white;
	font-size: 48px;
	font-family: Arial;
	line-height: 46px;
	text-shadow: black 1px 2px 0px;
	position: fixed;
	top: 7px;
	left: 17px;
	letter-spacing:-2px;
	white-space: nowrap;
}
.currentcondition {
	color: white;
	font-size: 12px;
	font-family: Arial;
	padding-right: 3px;
	text-shadow: black 1px 1px 0px;
	position: absolute;
	top: 7px;
	right: 6px;
	letter-spacing: 0px;
	text-transform: capitalize;
	white-space: nowrap;
}
.warning {
	color: red;
	font-size: 12px;
	font-family: Arial;
	text-align: right;
	padding-right: 3px;
	text-shadow: black 1px 1px 0px;
	position: absolute;
	top: 109px;
	right: 6px;
	letter-spacing:-1px;
	text-transform:capitalize;
	white-space: nowrap;
}
.moonimage { position: absolute; top: 27px; right: 5%; z-index: -1; }
.eventimageabove { position: absolute; top: 52px; right: 7%; z-index: 0; }
.eventimagebelow { position: absolute; top: 52px; right: 7%; z-index: -8; }
.moonimagetd {
	background-image: url(moonphasesexsm/phase.png);
	background-repeat: no-repeat;
	background-position: 70% 26px
}
